body{
    padding: 10px;
    font-family: Arial, Arial, Helvetica, sans-serif;
    background-color: lightgrey;
}

button{
    cursor: pointer;
}

.numbers-list{
    border: 1px solid #555;
    border-radius: 8px;
    padding: 10px;
    list-style-type: none;
    font-family: monospace;
    font-size: 20px;
    text-align: center;
}

.numbers{
    display: inline-block;
    margin: 10px;
    border: 1px solid #222;
    width: 25px;
    border-radius: 50%;
    padding: 5px;
    cursor: pointer;
    user-select: none;
}

.selected-number{
    background-color: #009966;
}